//Color Code
@Red:#FF0000;
@Green:#00FF00;
@Blue:#0000FF;
@Orange:#FFA500;
@Yellow:#FFFF00;
@Cyan:#00FFFF;
@Black:#000000;
@White:#FFFFFF;

.button{

	//크기
		width:200px;
		height:50px;

	//배경 색상
		.bg (@color:#FFFFFF) {

		 	background-color: @color;

		 	
		 	//그라디언트
		 	&.grad{
		 		@gradPercent:40%;
				background: -webkit-linear-gradient(@color, lighten(@color, @gradPercent)); /* For Safari 5.1 to 6.0 */
			    background: -o-linear-gradient(@color, lighten(@color, @gradPercent)); /* For Opera 11.1 to 12.0 */
			    background: -moz-linear-gradient(@color, lighten(@color, @gradPercent)); /* For Firefox 3.6 to 15 */
			    background: linear-gradient(@color, lighten(@color, @gradPercent)); /* Standard syntax */
			}


			//비활성
			&:disabled, &[disabled=disabled], &.disabled{
				@disabledFontColor : #333333;
				background-color:lighten(desaturate(@color, 80%), 20%);
				color:@disabledFontColor;
			}

		}


		//배경 색이 어두우면(50%) 글자색을 흰색, 밝으면 검은색
		.mixin (@color) when (lightness(@color) < 50%) {
		 	color: white;
		}

		.mixin (@color) when (lightness(@color) >= 50%) {
		 	color: black;
		}

		/* Implementation */
		&.red{.bg(@Red);}
		&.green{.bg(@Green);}
		&.blue{.bg(@Blue);}
		&.orange{.bg(@Orange);}
		&.yellow{.bg(@Yellow);}
		&.cyan{.bg(@Cyan);}
		&.black{.bg(@Black);}
		&.white{.bg(@White);}

	//모서리
		.radius (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
			-webkit-border-radius: @topleft @topright @bottomright @bottomleft;
			-moz-border-radius: @topleft @topright @bottomright @bottomleft;
			border-radius: @topleft @topright @bottomright @bottomleft;
		}

		/* Implementation */
		&.round{
			.radius();
		}



	//그림자
		.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
			-webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
			-moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
			box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
		}

		/* Implementation */
		&.shadow{
			.box-shadow();
		}


	//폰트



	//정렬


}

//버튼일 경우 플랫하게 바꿔줌
button.button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}